# Minecraft Docker Builder
# GitLab CI/CD configuration

stages:
  - test
  - build
  - create_image

variables:
  RELEASE_TAG: '/^\d.\d.\d$/'
  # Docker-in-Docker setup
  DOCKER_HOST: "tcp://docker:2376"
  DOCKER_TLS_CERTDIR: "/certs"
  # Builder CLI image to use when building Minecraft server images
  BUILDER_CLI_IMAGE: "$CI_REGISTRY/rdall96/minecraft-docker"
  BUILDER_CLI_TAG: "2.5.0"


# Make sure the project builds
test-build:
  stage: test
  tags:
    - dev
  image: swift:6.2.1-noble
  before_script:
    - swift --version
  script:
    - swift package resolve
    - swift build -c release --static-swift-stdlib
  rules:
    # only run this job for merge requests
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"


# Build the CLI for debugging
dev-cli-build:
  stage: build
  tags:
    - tools
  image: docker:28.5.2-cli
  services:
    - docker:28.5.2-dind
  before_script:
    - docker info
    # Login to the GitLab container registry
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    # Build the CLI image for debugging
    - |
      docker build -t $BUILDER_CLI_IMAGE:dev-$CI_COMMIT_SHORT_SHA . \
      --build-arg CLI_VERSION=dev-$CI_COMMIT_SHORT_SHA \
      --build-arg BUILD_TYPE=debug
    # Print out the built CLI version
    - docker run --rm $BUILDER_CLI_IMAGE:dev-$CI_COMMIT_SHORT_SHA version
    # Push the image to the registry
    - docker push $BUILDER_CLI_IMAGE:dev-$CI_COMMIT_SHORT_SHA
  rules:
    # only run this job when a new commit is created and we don't have a tag
    - if: $CI_COMMIT_TAG =~ $RELEASE_TAG
      when: never
    # allow build tagging in merge requests (optional)
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: manual
      allow_failure: true
    # and if we have changes in relevant files when pushing a new commit
    - if: $CI_PIPELINE_SOURCE == "push"
      changes:
        - Dockerfile
        - Sources/**/*
        - Package.*
      when: always


# Build the CLI for release
release-cli-build:
  stage: build
  tags:
    - tools
  image: docker:28.5.2-cli
  services:
    - docker:28.5.2-dind
  before_script:
    - docker info
    # Login to the GitLab container registry
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    # Build the CLI image
    - |
      docker build -t $BUILDER_CLI_IMAGE:$CI_COMMIT_TAG . \
      --build-arg CLI_VERSION=$CI_COMMIT_TAG
    # Print out the built CLI version
    - docker run --rm $BUILDER_CLI_IMAGE:$CI_COMMIT_TAG version
    # Push the image to the internal registry and tag as latest
    - docker push $BUILDER_CLI_IMAGE:$CI_COMMIT_TAG
    - docker tag $BUILDER_CLI_IMAGE:$CI_COMMIT_TAG $BUILDER_CLI_IMAGE:latest
    - docker push $BUILDER_CLI_IMAGE:latest
  rules:
    # only run this job when a new release tag is created
    - if: $CI_COMMIT_TAG =~ $RELEASE_TAG


# Minecraft server image builds
minecraft-server:
  stage: create_image
  tags:
    - minecraft
  image: docker:28.5.2-cli
  services:
    - docker:28.5.2-dind
  before_script:
    - docker info
    # Login to the GitLab container registry
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    # Pull the CLI image
    - docker pull $BUILDER_CLI_IMAGE:$BUILDER_CLI_TAG
    - echo "Building Docker image for $MINECRAFT_TYPE Minecraft version $MINECRAFT_VERSION"
    # Print out the CLI version being used
    - |
      docker run --rm $BUILDER_CLI_IMAGE:$BUILDER_CLI_TAG version
    # Build the Minecraft image and push it to DockerHub
    - |
      docker run --rm \
      -v /var/run/docker.sock:/var/run/docker.sock \
      $BUILDER_CLI_IMAGE:$BUILDER_CLI_TAG \
      build -t $MINECRAFT_TYPE -v $MINECRAFT_VERSION \
      --push -u $MINECRAFT_SERVER_REPOSITORY_USERNAME -p $MINECRAFT_SERVER_REPOSITORY_PASSWORD \
      --clean
  rules:
    # Only run this when we have a valid Minecraft type and version and for pipeline triggers
    - if: $MINECRAFT_VERSION == null || $MINECRAFT_VERSION == ""
      when: never
    - if: $CI_PIPELINE_SOURCE == "schedule" || $CI_PIPELINE_SOURCE == "web"
