# Minecraft Docker Compiler
# GitLab CI/CD configuration

stages:
  - build

build-job:
  stage: build
  script:
    - echo "Re-building all Minecraft Docker images..."
    - bash run.sh --minecraft all
  # Run this job only when there are changes to the main branch and they target source code
  only:
    refs:
      - main
    changes:
      - minecraft/*
      - src/*
      - config.yml
