# Minecraft Docker Compiler
# GitLab CI/CD configuration

stages:
  - build
  # - test
  # - deploy

build-job:
  stage: build
  script:
    - echo "Re-building all Minecraft Docker images..."
    - ./run.sh --minecraft all
  # Run this job only when there are changes to the main branch and they target source code
  only:
    refs:
      - main
    changes:
      - minecraft/*
      - src/*
      - config.yml

# No tests to run as of right now
# unit-test-job:
#   stage: test
#   script:
#     - echo "Running unit tests... This will take about 60 seconds."
#     - sleep 60
#     - echo "Code coverage is 90%"

# FIXME: Add linting some day
# lint-test-job:
#   stage: test
#   script:
#     - echo "Linting code... This will take about 10 seconds."
#     - sleep 10
#     - echo "No lint issues found."

# There's not really a point in deploying a new Minecraft image, but keep this code here for future reference
# deploy-job:
#   stage: deploy
#   environment: production
#   script:
#     - echo "Deploying application..."
#     - echo "Application successfully deployed."
